.title {
    font-style: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(238, 239, 252);
    line-height: normal;
    font-size: 0.8125rem;
    font-weight: 500;
    margin-left: 4px;
}

.count {
    font-style: normal;
    text-align: right;
    color: rgb(133, 134, 153);
    line-height: normal;
    font-size: 0.8125rem;
    font-weight: normal;
}


.header {
    display: flex;
    flex-shrink: initial;
    flex-basis: initial;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    gap: 12px;
    min-height: 22px;
    margin-top: 4px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-width: 300px;
    background-color: rgb(29 30 43);
    padding: 8px;
    border-radius: 8px;

    &:hover {
        .btn_drag {
            display: flex;
        }

        .btn_new_issue {
            opacity: 1;
            user-select: auto;
            pointer-events: all;

        }
    }
}

.column_todo {
    .btn_new_issue {
        // display: inline-flex;
        opacity: 1;
        user-select: auto;
        pointer-events: all;
    }
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn_new_issue {
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0px;
    border-radius: 4px;
    font-weight: 500;
    line-height: normal;
    transition-property: border, background-color, color;
    transition-duration: .15s;
    user-select: none;
    position: relative;
    border: 1px solid rgb(49, 50, 72);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    background-color: rgb(39, 41, 57);
    color: rgb(210, 211, 224);
    min-width: 28px;
    height: 28px;
    padding: 0px 14px;
    // font-size: 0.8125rem;
    display: inline-flex;


    opacity: 0;
    user-select: none;
    pointer-events: none;

    &:hover {
        background-color: rgb(43, 44, 68);
        border-color: rgb(62, 62, 74);
    }
}

.btn_new_issue svg {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 18px;
    max-height: 18px;
    margin-right: 10px;
    transition-property: fill, stroke;
    transition-duration: 0.15s;
    fill: currentcolor;
}

.btn_drag {
    margin-left: auto;

    border-radius: 4px;
    height: 22px;
    padding: 3px;
    max-width: 112px;
    min-width: auto;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
    // border: 1px solid rgb(60, 63, 81);
    // background-color: rgb(32, 33, 46);
    transition-property: border, color, background-color;
    transition-duration: 0.15s;
    cursor: grab;
    outline: none;

    display: none;
}

.btn_drag svg path {
    fill: #9c9eac;
}

.btn_drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.btn_drag:hover {
    // background-color: rgb(42, 44, 59);
    // border: 1px solid rgb(60, 63, 81);
    color: rgb(254, 255, 254);
}


.task {
    text-align: left;
    color: rgb(254, 255, 254);
    line-height: normal;
    font-size: 0.8125rem;
    resize: none;
    font-family: inherit;
    font-weight: 500;
    outline: none;
    padding: 12px 15px;
    border: 1px solid rgb(43, 44, 68);
    background-color: rgb(32, 33, 46);
    border-radius: 4px;
    box-shadow: 0 0 0 0.25rem rgb(66, 67, 116);

    min-height: 100px;
    // background-color: ;

    &::placeholder {
        line-height: normal;
        font-size: 0.8125rem;
        font-weight: 500;
        text-align: left;
        color: rgba(173, 173, 173, 0.704);
    }

    // border-color: rgb(62, 62, 74);
}