.layout {
    height: 100vh;
    display: flex;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.main {
    flex: 1 0 0;
}
